In [35]:
# dependencies
import pandas as pd

In [8]:
# list high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for x in high_schools:
    print(x)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [9]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [34]:
# prints the values of each key in the dictionary items
for school in high_school_types:
    for x in school:
        print(f"{school[x]}")

Griffin
District
Figueroa
District
Wilson
Charter
Wright
Charter

In [25]:
# prints values from the specified keys - trying to figure out how to do this without having to provide specific keys
for school in high_school_types:
    print(f"{school['High School']} : {school['Type']}")

Griffin : District
Figueroa : District
Wilson : Charter
Wright : Charter

In [33]:
# prints all list items - in this case list items are dictionaries
for x in high_school_types:
    print(x)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [36]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [39]:
# create pandas seriers from list
school_series = pd.Series(high_schools)

In [42]:
# you can iterate through series like you can with a list
for x in school_series:
    print(x)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [43]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [45]:
# convert the list of dictionaries into a pandas df - pandas will read the key and value pairs and sort into 2D layout with keys as headers and values as series vlaues
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [46]:
# Three separate lists of information on high schools - different way to create a dataframe by combining lists
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [48]:
# Initialize a new DataFrame (empty)
schools_df_2 = pd.DataFrame()

In [50]:
# add list to the empy df ["header"] = values
schools_df_2["School ID"] = school_id
schools_df_2["school_name"] = school_name
schools_df_2["type"] = type_of_school
schools_df_2

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [52]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [54]:
schools_df_3 = pd.DataFrame(high_schools_dict)
schools_df_3

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter